<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/fonts.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="icon" type="image/png" href="/images/favicon.png">
        <!-- Google tag (gtag.js) -->
        ${config.googleAnalyticsID ? common.googleAnalytics(config.googleAnalyticsID) : ""}
        <title>${config.blogName}</title>
        <meta name="description" content="${config.blogDescription}" />
        ${common.openGraph(
          "website",
          config.blogName,
          config.blogsite,
          config.blogName,
          config.blogDescription,
          config.image,
        )}
        <!-- Twitter Card -->
        ${common.twitterCard(
          "summary",
          config.siteTwitter,
          config.authorTwitter,
          config.blogName,
          config.blogDescription,
          config.image,
        )}
    </head>
    <body>
        <div class="content">
            <header>
                <div class="main">${config.blogName}</div>
                <nav>
                  Home
                  <a href="/all_posts">All posts</a>
                  <a href="/about">About</a>
                  <a href="/tags">Tags</a>
                </nav>
            </header>

            <main class="list">
              <div class="site-description" aria-label="Site description">
                <p>Comics about Free and Open Source Software</p>
              </div>
                ${posts
                  .map(
                    (
                      post,
                    ) => `<section class="list-item" aria-label="Summary of Comic post">
                    <h1><a href="/${post.path}">${post.title}</a></h1>
                        <time>${common.formatDate(new Date(post.date))}</time>
                      <div class="responsive-image">
                         <img src="/${post.path}/images/${post.image}" alt="${post.title}">
                      </div>
                      <div class="description">${post.description}</div>
                      <a class="readmore" href="/${post.path}">Read more ⟶</a>
                    </section>`,
                  )
                  .join("")}
              <ul class="pagination" role="navigation">
                <span class="page-item page-prev">
                ${prev ? `<a href="/page/${prev}.html" class="page-link" aria-label="Previous">← Prev</a>` : `<span class="page-link disable-link"><span aria-hidden="true">← Prev</span></span>`}
                </span>
                <span class="page-item page-next">
                ${next ? `<a href="page/${next}.html" class="page-link" aria-label="Next">Next →</a>` : `<span class="page-link disable-link"><span aria-hidden="true">Next →</span></span>`}
                </span>
              </ul>
            </main>
            <footer>
              ${common.footer()}
            </footer>
        </div>
    </body>
</html>