<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/fonts.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="icon" type="image/png" href="../images/favicon.png">
        <!-- Google tag (gtag.js) -->
        ${config.googleAnalyticsID ? common.googleAnalytics(config.googleAnalyticsID) : ""}
        <title>${config.blogName}: ${data.post.attributes.title}</title>
        <meta name="description" content="${config.blogDescription}" />
        ${common.openGraph(
          "website",
          config.blogName,
          `${config.blogsite}/about.html`,
          `${config.blogName}: ${data.post.attributes.title}`,
          config.blogDescription,
          config.image,
        )}

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="${config.blogsite}" />
        <meta name="twitter:title" content="${config.blogName}: ${data.post.attributes.title}" />
        <meta name="twitter:description" content="${config.blogDescription}" />
        <meta name="twitter:image" content="${data.post.attributes.image}" />
    </head>
    <body>
        <div class="content">
            <header>
                <div class="main">
                  ${config.blogName}
                </div>
                <nav class="site-navigation">
                  <a href="/">Home</a>
                  <a href="/all_posts">All posts</a>
                  About
                  <a href="/tags">Tags</a>
                </nav>
            </header>
            <main>
              <article class="content">
                  <div class="title">
                    <h1 class="title">${data.post.attributes.title}</h1>
                  </div>
                  <section class="body">
                    ${data.post.body}
                  </section>
              </article>
            </main>

            <footer>
              ${common.footer()}
            </footer>
        </div>
    </body>
</html>