<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/fonts.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="icon" type="image/png" href="../images/favicon.png">
        <!-- Google tag (gtag.js) -->
        ${page.config.googleAnalyticsID ? page.googleAnalytics(page.config.googleAnalyticsID) : ""}
        <title>${page.config.blogName}: ${page.title}</title>
        <meta name="description" content="${page.config.blogDescription}" />
        ${page.openGraph(
          "website",
          page.config.blogName,
          `${page.config.blogsite}/about.html`,
          `${page.config.blogName}: ${page.title}`,
          page.config.blogDescription,
          page.config.image,
        )}

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="${page.config.blogsite}" />
        <meta name="twitter:title" content="${page.config.blogName}: ${page.title}" />
        <meta name="twitter:description" content="${page.config.blogDescription}" />
        <meta name="twitter:image" content="${page.imageURL}" />
    </head>
    <body>
        <div class="content">
            <header>
                <div class="main">
                  ${page.config.blogName}
                </div>
                <nav class="site-navigation">
                  <a href="/">Home</a>
                  <a href="/all_posts">All posts</a>
                  About
                  <a href="/tags">Tags</a>
                </nav>
            </header>
            <main>
              <article class="content">
                  <div class="title">
                    <h1 class="title">${page.title}</h1>
                  </div>
                  <section class="body">
                    ${page.body}
                  </section>
              </article>
            </main>

            <footer>
              ${page.footer()}
            </footer>
        </div>
    </body>
</html>
