<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nanum+Pen+Script&family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/fonts.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="icon" type="image/png" href="../images/favicon.png">
        <!-- Google tag (gtag.js) -->
        ${page.config.googleAnalyticsID ? page.googleAnalytics(page.config.googleAnalyticsID) : ""}
        <title>${page.title}</title>
        <meta name="description" content="${page.description}" />

        ${page.openGraph(
          "article",
          page.config.blogName,
          `${page.config.blogsite}/${page.path}/`,
          page.title,
          page.description,
          `${page.config.blogsite}/${page.path}/images/${page.image}`,
          {
            authorName: page.config.authorName,
            publishedDate: page.date,
            tags: page.tags,
          },
        )}

        ${common.twitterCard(
          "summary",
          page.config.siteTwitter,
          page.config.authorTwitter,
          page.title,
          page.description,
          `${page.config.blogsite}/${page.path}/images/${page.image}`,
        )}
    </head>
    <body>
        <div class="content">
            <header>
                <div class="main">
                  ${page.config.blogName}
                </div>
                <nav class="site-navigation">
                  <a href="/">Home</a>
                  <a href="/all_posts">All posts</a>
                  <a href="/about">About</a>
                  <a href="/tags">Tags</a>
                </nav>
            </header>
            <main>
              <article class="content">
                  <div class="title">
                    <h1 class="title">${page.title}</h1>
                    <div class="meta">Posted on ${common.formatDate(new Date(page.date))}</div>
                  </div>
                  <section class="body">
                    ${page.body}
                  </section>
                  <div class="post-tags">
                    <nav class="nav tags">
                      <ul class="tags">
                        ${page.tags.map((tag) => `<li><a href="/tags/${tag.replace(/\s+/g, "_")}">${tag}</a></li>`).join("")}
                      </ul>
                    </nav>
                  </div>
              </article>
              <ul class="pagination-post" role="navigation">
                <span class="page-item page-prev">
                ${page.previous ? `<a href="../${page.previous.path}" class="page-link" aria-label="Previous">← ${page.previous.title}</a>` : ""}
                </span>
                <span class="page-item page-next">
                ${page.next ? `<a href="../${page.next.path}" class="page-link" aria-label="Next">${page.next.title} →</a>` : ""}
                </span>
              </ul>
              <div class="comments border">
                <script src="https://utteranc.es/client.js"
                            repo="joone/fosscomics"
                            issue-term="pathname"
                            theme="github-light"
                            crossorigin="anonymous"
                            async>
                </script>
              </div>
            </main>

            <footer>
              ${page.footer()}
            </footer>
        </div>
    </body>
</html>