<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="${page.config.blogDescription}" />
        <link rel="stylesheet" href="../../styles/fonts.css">
        <link rel="stylesheet" href="../../styles/main.css">
        <link rel="icon" type="image/png" href="../images/favicon.png">
        <!-- Google tag (gtag.js) -->
        ${page.config.googleAnalyticsID ? page.googleAnalytics(page.config.googleAnalyticsID) : ""}
        <title>${page.config.blogName}: Entries tagged - ${data.tag}</title>
        ${page.openGraph("website")}
    </head>
    <body>
        <div class="content">
            <header>
                <div class="main">${page.config.blogName}</div>
                <nav>
                  <a href="/">Home</a>
                  <a href="/all_posts">All posts</a>
                  <a href="/about">About</a>
                  <a href="/tags">Tags</a>
                </nav>
            </header>
              <h1 class="page-title">Entries tagged - "${data.tag}"</h1>
              <ul class="posts">

                ${data.posts
                  .map(
                    (post) => `<li class="post">
                    <a href="/${post.path}">${post.title}</a><span class="meta">
                        ${new Date(post.date).toDateString()}</span>
                    </li>`,
                  )
                  .join("")}
              </ul>
            <footer>
              ${page.footer()}
            </footer>
        </div>
    </body>
</html>