<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="${config.blogDescription}" />
        <link rel="stylesheet" href="../styles/fonts.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="icon" type="image/png" href="../images/favicon.png">

        <!-- Google tag (gtag.js) -->
        ${config.googleAnalyticsID ? common.googleAnalytics(config.googleAnalyticsID) : ""}
        <title>${config.blogName}: ${data.pageTitle}</title>
        ${common.openGraph(
          "website",
          config.blogName,
          `${config.blogsite}/tag_list.html`,
          `${config.blogName}: ${data.pageTitle}`,
          config.blogDescription,
          config.image,
        )}
    </head>
    <body>
        <div class="content">
            <header>
                <div class="main">${config.blogName}</div>
                <nav>
                  <a href="/">Home</a>
                  <a href="/all_posts">All posts</a>
                  <a href="/about">About</a>
                  Tags
                </nav>
            </header>
              <h1 class="page-title">${data.pageTitle}</h1>
              <div class="tag-cloud">
              <ul class="tags">
                ${data.tags
                  .map(
                    (tag) => `<li class="post">
                    <a href="${tag.path}">${tag.name}(${tag.count})</a>
                    </li>`,
                  )
                  .join("")}
              </ul>
              </div>
            <footer>
              ${common.footer()}
            </footer>
        </div>
    </body>
</html>