<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div class="content">
            <header>
                <div class="main">
                  ${config.blogName}
                </div>
                <nav class="site-navigation">
                  <a href="/">Home</a>
                  <a href="/all_posts">All posts</a>
                  About
                  <a href="/tags">Tags</a>
                </nav>
            </header>
            <main>
              <article class="content">
                  <div class="title">
                    <h1 class="title">${data.title}</h1>
                  </div>
                  <section class="body">
                    ${data.content}
                  </section>
              </article>
            </main>

            <footer>
              ${page.footer()}
            </footer>
        </div>
    </body>
</html>